playSteam_console/.vs/
playSteam_console/playSteam/bin/
playSteam_console/playSteam/obj/
private/
playSteam_window/playSteam/.vs/
playSteam_window/playSteam/playSteam/bin/
playSteam_window/playSteam/playSteam/obj/
